    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
      <script type="text/markdown">

## Willkommen!

Hier ist nur ein [Blindtext](http://www.songtexte.com/songtext/kettcar/kommt-ein-mann-in-die-bar-7b879e30.html). Vielleicht, vielleicht ist es nicht leicht, das alles zu ertragen // Die Hoffnung ist schon vorgerannt, um das Grab schon mal zu graben // Vielleicht merkt das der Kluge und der Dumme macht Bemerkungen // Und der eine hält es aus und der andere läuft los und holt Verstärkung.


Vorlage: [Landing Page](https://github.com/swcool/landing-page-theme) von [Shane Weng](https://github.com/swcool).



</script>
        </div>
    </section>
